* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Roboto,"Gill Sans", sans-serif;;
	width: 1024px;
  height: 768px;
  background: rgba(125,43,43,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logout-button {
  width: 71px;
  height: 18px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 9px;
  overflow: hidden;
}

td {
  border-bottom:1px solid gray;
  background:none repeat scroll 0 0 #0775d3;
  padding:10px;
  color: #fceded;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
}

.titletext {
            color: rgba(0,0,0,1),
            font-family: Roboto,
            font-weight: Regular,
            font-size: 13px,
            opacity: 1
}
